hello {
  @include container;

  background: $brand-white;
  text-align: center;

  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font: {
      family: sans-serif;
      size: 18px;
    }

    a {
      align-items: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      margin: 10px;
      height: 200px;
      width: 200px;
    }
  }
}
