@import 'node_modules/normalize-scss/sass/_normalize.scss';
@import 'node_modules/box-sizing-border-box/index.scss';

@import 'variables';
@import 'mixins';

body {
  background-color: $brand-color-main;
  color: $text-color-main;
  font-family: $font-stack-main;
  margin: 0;
}

a {
  img {
    border: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

@import 'app/common/common';
@import 'app/hello/hello';
